body {
    background: url(cdn/img/bg.JPG);
    background-size: cover;
}

main { 
    font-family: 'Nunito Sans', sans-serif;
    background: rgba(241, 184, 255, 0.596);
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    border-radius: 1em;
    
    padding: 0.1em 1em 1em 1em;
    margin: 6em 2em auto 2em;
    max-width: 32em;

a {
     color: white;
}
    
a:link {
    color: white;
}
    
a:visited {
    color: white;
}

#status {
    font-family: 0;
}