body {
    background: #fff8e7;
    background-size: cover;
}

main { 
    font-family: 'Nunito Sans', sans-serif;
    background: #bac8ff;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    

    border-radius: 1em;

    font-size: 135%;
    
    padding: 0.1em 1em 1em 1em;
    margin: 1em 2em auto 2em;
    max-width: 32em;
}

/* extra css for divs :D */

#footer {
    font-family: 'Nunito Sans', sans-serif;
    background: #ced4da;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    border-radius: 1em;

    font-size: 135%;
    
    padding: 0.1em 0 0.5em 1em;
    margin: 2em 2em auto 2em;
    max-width: 14em;
}

#webring-wrapper {
padding: 0.25em 0 0.5em 0;
}

#waka-w {
    padding-top: 1em;
}

a[href] {

    color: #000000;

}