body {
    background: #fff8e7;
    background-size: cover;
}

main { 
    font-family: 'Nunito Sans', sans-serif;
    background: #bac8ff;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    

    border-radius: 1em;

    font-size: 135%;
    
    padding: 0.1em 1em 1em 1em;
    margin: 1em 2em auto 2em;
    max-width: 32em;
}

footer {
    font-family: 'Nunito Sans', sans-serif;
    background: #ced4da;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    border-radius: 1em;

    font-size: 135%;
    text-align: center;

    padding-top: 6px;
    
    padding: 0.5em auto auto auto;
    margin: 4em 2em auto 2em;
    max-width: 8em;
}

/* extra css for divs :D */

#things {
    font-family: 'Nunito Sans', sans-serif;
    background: #ffdeeb;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    font-size: 135%;

    border-radius: 1em;

    padding: 0.1em 1em 1em 1em;
    margin: 1em 2em auto 2em;
    max-width: 32em;
}

#exp {
    font-family: 'Nunito Sans', sans-serif;
    background: #bac8ff;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    font-size: 135%;

    border-radius: 1em;
    
    padding: 0.1em 1em 1em 1em;
    margin: 1em 2em auto 2em;
    max-width: 32em;
}

#omgerlol {
    background: #f3d9fa;
    border-radius: 1em;
    padding: 0.1em 1em 1em 1em;
}

#webring-wrapper {
padding: 0.25em 0 0.5em 0;
}

#waka-w {
    padding-top: 1em;
}

a[href] {
    color: #000000;

}

#notice {
    font-family: 'Nunito Sans', sans-serif;
    background: #ced4da;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    font-size: 135%;


    border-radius: 1em;
    text-align: center;

    padding: 1em auto;
    margin: 1em 2em auto 2em;
    max-width: 32em;
}