body {
	background: #212936;
	color: #fff8e7;
	font-size: 1.1em;
	font-family: 'Cousine', monospace;
	padding-left: 0.4em;
}

a[href] {
	color: #fff8e7;
	background-color: #252e3c;
}

#status {
	padding: 1rem 1rem 1rem 1rem; 
	background: rgba(117, 72, 108, 0.26);
	border-radius: 1rem;
	max-width: fit-content;
}

