@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400,700i);
html {
	background: #6867AA;
	color: #fff8e7;

	font-size: 1.1em;
	font-family: 'IBM Plex Mono', monospace;
	
}

header {
	margin-bottom: 1.3rem;
	font-style: italic;
	font-size: 1.47em;

}

main {
	padding: 0 1rem;

}

a[href] {
	color: #fff8e7;

}

.box {
	margin-top: 0.5rem;
	width: fit-content;
	padding: 0.4rem;
	border-radius: 0.5rem;

}

.box p {
	margin: 0;

}

code {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0.9em;
	padding: 0.2rem;
	border-radius: 0.2rem;

}

.box h3 {
	margin-top: 0;

}

h2 {
	font-style: italic;
	font-size: 1.47em;
	margin: 0rem 0 0.7rem 0;
}

/* colour */

.blue {
	background: #8797E0;
	
}

.orange {
	background: #dc774f;
	color: #0D0C0B;

}

.orange a[href] {
	color: #0D0C0B;

}

/* WOOOOO DARK MODE */

@media (prefers-color-scheme: dark) {
	html {
		background: #170733;
		color: #fff8e7;

	}

	a[href] {
		color: #fff8e7;

	}

	.blue {
		background: #8797e059;
	}

	.orange {
		background: #dc774f51;
		color: #fff8e7;
	}

	.orange a[href] {
		color: #fff8e7;
	}

}	