html {
	background: #212936;
	color: #fff8e7;

	font-size: 1.4em;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Helvetica, cantarell, ubuntu, roboto, noto, sans-serif;
}

a[href] {
	color: #fff8e7;
}

.box {
	padding-top: 15px;
	border-radius: 1em;
}

/* fake responsive design */

@media screen and (min-width: 600px) {

	body {
		padding: 3em;
		margin-left: 1.5rem;
		border-radius: 1em;
		padding: 10px;
	}
}

@media screen and (max-width: 600px) {

	body {
		padding: 3em;
		border-radius: 1em;
		padding: 10px;
	}
}